spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/rental_db
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: ture

server:
  port: 8080
management:
  endpoints:
    web:
      exposure:
        include: health.info